nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
  img(src="/img/stan_logo.png")#logo-navbar
  a.navbar-brand(href='/') cloudstan
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarCollapse.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li(class=isActive('/models/new') ? 'active nav-item' : 'nav-item')
        a.nav-link(href="/models/new", title="new model") New model
      - if (req.isAuthenticated())        
        li(class=isActive('/models/') ? 'active nav-item' : 'nav-item')
            a.nav-link(href="/models/", title="Your models") Browse your models
      li(class=isActive('/published-models/') ? 'active nav-item' : 'nav-item')
          a.nav-link(href="/published-models/", title="Published models") Browse published models

    ul.nav.navbar-nav.navbar-right
      - if (req.isAuthenticated())
        li.nav-item
          a.nav-link(href="/logout", title="logout") Logout
      - else
        li(class=isActive('/login') ? 'active nav-item' : 'nav-item')
          a.nav-link(href="/login", title="Login") Login