
/* Show it is fixed to the top */

body {
  padding-top: 6rem;
  height: 100%;
}

/* floating labels */

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}


/* Rok's coloring experiment. Dont judge */
.bg-dark{
  background-color: #3c3c3c !important;
}

.btn-primary {
  background-color: #b2001d;
  border-color: #590815;
}

.btn-primary:hover {
  background-color: #590815;
  border-color: #590815;
}

a {
  color: #b2001d;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #b2001d;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(178, 0, 29, 0.25);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,0.8);
}

.btn-link {
  color: #b2001d
}

.btn-link:hover {
  color: #590815;
}
.btn-outline-primary{
  color: #b2001d;
  border-color: #b2001d;
}

.btn-outline-primary:hover{
  background-color:#b2001d;
  border-color: #b2001d;
}

#code {
  height: 450px;
}

.hidden {
  display:none;
}

.inactive, .inactive:hover, .inactive:active, .inactive:focus, .inactive:disabled {
  color: #666565;
  border-color: #666565;
  background-color:white;
  cursor: default;  
}

.CodeMirror {
  font-size: 18px;
  border-radius: 9px;
}

#model_run_log{
  height: 400px;
  min-height: 100%;
  border: 1px grey solid;
  border-radius: 10px;
  padding: 10px;
  scroll-behavior: auto;
}

html {
  scroll-behavior: smooth;
}

#anchor-name{
  position: absolute;
  top: -100px;
  left: 0;
}

#logo-navbar{
  margin-right:5px;
}

#num_samples{
  width:30%;
}

#num_warmup{
  width:30%;
}
#sampling_logger {
  height: 250px;
  overflow-y: auto;
}
#sampling_logger_holder{
  border: 1px solid #b2001d;
  border-radius: 5pt;
  padding-left: 5pt;
  padding-top: 5pt;
  padding-bottom: 5pt;
  overflow: hidden;
}

.bar-chart {  
  background-color: #C7D9D9;  
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(178, 0, 29,.2);
}