extends layouts/default

block main
  h1= title

block content
  p This is an experiment on cloudstan. I mainly worked on the functionality, the design is basic.
  p Start using cloudstan by 
    a(href="/models/new") creating a new model
    | &nbsp;, provide the data and use the basic visualization currently available